
/**
 * That markdown on the left could look a lot better. Let's render it.
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg); /* If you scroll up or down you can see the plain version. Change the rotation animation. */
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);  /* If you scroll up or down you can see the markdown version. Change the rotation animation. */
  margin-top: 800px;
}

/**
 * Alright. We're ready.
 *
 * 3...
 * 2...
 * 1...
 *
 * .
 * ...GOT YAA XD.
 *
 * uhm, uhm... Okay, let's do this!
 *
 */
