/**
 *
 * Hey. My name's Ronny Coste. I'm a Software Engineer, Photographer, Creative, and 
 * javascript + Frameworks enthusiast.
 *
 * I build interactive and responsive websites.
 * Like this one... and others ie. cinema and photo gallery.
 *
 * Fancy some live coding??
 * Well let's do it!
 */

/**
 * Let's start. I will start by animating...
 * Forgot to say... We are anymating everything ;)
 */

* {
  -webkit-transition: all 2s; /* Speed of the Transitions */
}

/**
 * That did not do much. But you'll see.
 *
 * Black on white is really boring,
 * so let's do something about it.
 */

html {
  background: rgb(247, 191, 190); /* Background color */
}

/***
 * Hold on...
 */

pre, a {
  color: white;
}

/**
 * That's better. I'm Sorry for your eyes. Forgive me i am still learning.
 *
 * Working in this big empty canvas is tough.
 *
 * I'm going to make a nice area work area for us.
 */

pre:not(:empty) {
  /* Box with the code */
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 45vh;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 1vh 0.5vw;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
  margin: 1vh 0.5vw;
} 

/**
 * Okay. Now We're going to start filling up the screen.
 * Let's get our hands dirty!
 * Umm... Right this is automated. I forgot.
 */

#style-text {
  -webkit-transform: translateX(90%);
  position: absolute;
}

/**
 * This is looking good, but it could be much better!
 * Lets change all this white text.
 * and let's make it even more readable.
 */

.comment       { color: #ABDAD9; font-style: italic; } 
.selector      { color: #E69F0F; } 
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we're getting somewhere.
 * Time to give this a little perspective.
 */

body {
  -webkit-perspective: 1500px; /* Inwards perspective */
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right; /* Resume Box to the right */
  max-height: 93.1vh;
}

/**
 * So, let's get to the point of what you are here for. Let's talk projects.
 * I can't imagine you'd come just to see some cool looking animations and pretty colors.
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg); /* Degree of the boxes. Changes this would break the consitency of the three boxes. */
  -webkit-transform-origin: left; /* Position the code box on the left */
}
